.navbar-brand {
    font-family: "Playwrite AU QLD", cursive;
}
header{
   background-image:url(./images/pizza-2589577_1280.jpg);
    background-position: center center;
    background-size: cover;
    
}
.content h1{
    font-size: 90px;
    font-family: "Playwrite AU QLD", cursive;
    transition: color 1s ease-in-out, transform 1s ease-in-out;
}
.content{
    top:40%;
    left: 50%;
    transform: translate(-50%);
    
}
.content:hover h1{
  color:FCEF91;
  transform: scale(1.2);
}
.content p{
     font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-style: italic;
}
h1{
     font-family: "Playwrite AU QLD", cursive;
}
.logo img{
 transition-duration:1s ;
}
.logo:hover img {
    transform: rotate(45deg);
   
}
p{
   font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.chef img{
    transition-duration:  1s !important;
    top: 10%;
    left:25%;
    animation-name: girl;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* .chef:hover img{
   transform:  scale(1.2);
} */
 @keyframes girl {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
 }
 .carousel-item img{
    width:100px ;
transform: translateY(50%);
 }
 .navbar-nav:hover a{
    color: rgb(235, 157, 14);
 }



